
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');
body{font-family: Yanone Kaffeesatz;}


h1{text-align: center;
font-style: italic;}

h2{ text-align:center;
    font-size: 10px; color: rgb(87, 87, 100);
}
p{font-size: 20px;
color:rgb(12, 92, 12);
font-weight: 600;
text-align: center;}
 
 .p1{ color:rgb(94, 131, 29)}




.text-p{
    color: rgb(110, 85, 85);
}




  
   